.note{
    background: rgb(248, 248, 183);
    border-radius: 10px;
    margin:16px;
    padding:10px;
    width:200px;
    box-shadow: 0 5px 5px rgb(203, 187, 187);
    color:black;
    position: relative; 
    float: left;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

/* highlight the pinned notes */
.pinned{
    transform: scale(1.05);
}



.note img{
    width:100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

.note-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.note h2{
    font-size: 1.1em;
    margin-bottom: 6px;
   
}

.note span{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
   
}
/* Icons visibility */
.icons{
    opacity:0;
    visibility: hidden;
    position: absolute;
    top:5px;
    right:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


.note:hover .icons{
    opacity: 1;
    visibility: visible;
}

.pin-icon,
.more-options{
    /* position: absolute; */
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

.pin-icon{
    position: absolute;
    top:5px;
    right:5px;
}

.more-options{
    position: absolute;
    top:40px;
    right:5px
}

/* drop down menu */
.menu{
    position: absolute;
    top:70px; 
    right:5px;
    background:white;
    box-shadow: 0px 2px  8px rgba(0,0,0,0.2);
    padding:5px 10px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.menu button{
    padding: 5px;
    cursor: pointer;
    background: none;
    border:none;
    text-align: center;
    width:100%;
    font-size:14px
}

.menu button:hover{
    background-color: rgb(235,235,235);
}

.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    height: 40%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  /* image width in modal */
  .modal-image{
    width:auto;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  /* pin &More options inside modal */
 
  /* Modal Icons */
   .modal-icons {
    position: absolute;
    top:5px;
    right:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .modal-pin-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .modal-more-options{
    position:absolute ;
    bottom: -193px;
    right:27px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .close-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  } 


