.note{
    background: rgba(255, 255, 255, 0.909);
    border-radius: 10px;
    margin:16px;
    padding:10px;
    float:left;
    width:200px;
    box-shadow: 0 5px 5px rgb(203, 187, 187);
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* highlight the pinned notes */
.pinned{
    transform: scale(1.05);
    border:2px solid gold;
    box-shadow: 0 5px 15px rgba(225, 215, 0,0.5);

}

.pinned .pin-icon{
    color:gold!important
}

.note img{
    width:100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

.note h1{
    font-size: 1.1em;
    margin-bottom: 6px;
    text-align: center;
}

.note span{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
}

.icons{
    position:absolute;
    top:8px;
    right:8px;
    display: flex;
    gap:8px;
    opacity: 0;  
    /* opacity for initially hidden */
    visibility: hidden;
    transition: opacity 0.3s,visibility 0.3s;
    
}

.note:hover .icons{
    opacity: 1;
    visibility: visible;
}

.icon button{
    display: flex;
    background: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border:none;
    cursor:pointer;
    outline:none;
    /* color:green; */
    transition: color 0.2s
}

.pin-icon:hover{
    color:gold;
}

.delete-icon:hover{
    color:red
}